  <%= simple_form_for [@spaceship, @booking] do |f| %>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <%= f.input :first_name, input_html: {value: 'Enter your first name'}  %>
      <%= f.input :last_name, input_html: {value: 'Enter your last name'}  %>
      <%= f.input :start_date, placeholder: 'user@domain.com' %>
      <%= f.input :end_date, placeholder: 'user@domain.com' %>
      <%= f.submit %>
    </div>
  </div>
<% end %>