	<div id="booking" class="section">
		<div class="section-center">
			<div class="container">
				<div class="row">
					<div class="col-md-7 col-md-push-5">
						<div class="booking-cta">
							<h1>Book your spaceship</h1>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi facere, soluta magnam consectetur molestias itaque
								ad sint fugit architecto incidunt iste culpa perspiciatis possimus voluptates aliquid consequuntur cumque quasi.
								Perspiciatis.
							</p>
						</div>
					</div>
          <%#= render 'form', spaceship: @spaceship, booking: @booking %>
            <div id='spaceship-booking-dates' data-unavailable="<%= @spaceship.unavailable_dates.to_json %>">
              <% if current_user.id != @spaceship.user_id  %>
                <%= simple_form_for([@spaceship, @booking]) do |f| %>
                  <%= f.input :start_date, as: :string, type: :text %>
                  <%= f.input :end_date, as: :string, type: :text %>
                  <%= f.submit "Book", class: "btn btn-primary" %>
                <% end %>
              <% end %>
            </div>
					</div>
				</div>
			</div>
		</div>
	</div>

