<div class="container-all">
  <h1>Welcome, <%= current_user.name %></h1>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="trips-tab" data-toggle="tab" href="#trips" role="tab" aria-controls="trips" aria-selected="true">Trips</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="listings-tab" data-toggle="tab" href="#listings" role="tab" aria-controls="listings" aria-selected="false">Listings</a>
    </li>
    <!-- Third tab maybe not needed -->
    <%# <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
    </li> %>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="trips" role="tabpanel" aria-labelledby="trips-tab">
      <div class="bookingheader">
        <h1>These are the your current trips</h1>
      </div>
      <!-- an each do loop to take the users current bookings and create cards with their details -->
      <% if @current_bookings.empty? %>
      <div class="empty-current">
        <h1>You have no current bookings. <%= link_to "Book a Trip!", spaceships_path %></h1>
      </div>
      <% else %>
      <div class="current-trips"> <!-- for grid -->
        <% @current_bookings.each do |booking|%>
        <div class="col-md-3 small-card-col">
          <%= render 'small-card-bookings', booking: booking %>
        </div>
        <% end %>
      </div>
      <% end %>
      <div class="bookingheader">
        <h1>These are your past trips</h1>
      </div>
      <div class="past-trips">
        <!-- display grid-->
        <!-- an each do loop to take the users PAST bookings and create cards with their details, where they can create a review -->
        <% if @past_bookings.empty? %>
        <div>
          <h2>you have no past bookings</h2>
        </div>
        <% else %>
        <% @past_bookings.each do |booking|%>
        <div class="card">
          <%= link_to booking.spaceship do %>
          <div class="col-md-3 small-card-col">
            <%= render 'small-card-past', booking: booking %>
          </div>
          <% end %>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>
    <div class="tab-pane fade" id="listings" role="tabpanel" aria-labelledby="listings-tab">
      <% current_user.spaceships.each do |spaceship| %>
      <div class="row py-3">
        <div class="col-md-3">

          <div class="card small-card" style="width: 100%;">
            <%= cl_image_tag spaceship.photo.key%>
            <div class="card-body">
              <div class="title-container">
                <h5><%= link_to spaceship.name.truncate(20), spaceship_path(spaceship.id) %></h5>
              </div>
              <p class="spaceship-type"><%= spaceship.spaceship_class %></p>
              <div class="card-info">

                <p><i class="fas fa-dollar-sign"></i><%= spaceship.price %></p>
                <p>
                  <% spaceship.rating.times do %>
                  <i class="fas fa-star"></i>
                  <% end %>
                  <% (5 - spaceship.rating).times do %>
                  <i class="far fa-star"></i>
                  <% end %>
                </p>
              </div>
              <%= link_to 'Edit Spaceship', edit_spaceship_path(spaceship), class: 'btn btn-primary spaceship-booking-link' %>
            </div>
          </div>
        </div>
        <div class="col-md-9">
          <%= render 'dropdown', spaceship:spaceship %>
        </div>
      </div>
      <% end %>
    </div>
    <!-- Third tab maybe not needed -->
    <%# <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div> %>
  </div>
</div>


