<div class="banner" style="background-image: linear-gradient(rgba(20, 4, 22, 0.2), rgba(20, 4, 22, 0.7)), url('<%= asset_path "7035.jpg" %>')">
  <div class="banner-content">
    <%= image_tag 'MyspaceBnbLogo.png', style:"width: 1000px;" %>
    <h1>Have some intergalactic travel coming up?</h1>
    <h2>We've got you covered.</h2>
    <%= link_to spaceships_path, class:"btn btn-primary", id:"homepage-btn" do %>
      Book your spaceship now <i class="fas fa-rocket"></i>
    <% end %>
  </div>
</div>
<div class="home-content">
  <div class="home-header">
    <h1>Rent the spaceship of your dreams</h1>
  </div>
  <div class="home-ships">
    <% @spaceships.each do |spaceship| %>
      <div class="card " style="width: 400px;">
        <div class="spaceship-image">
          <%= image_tag "#{rand(16)}.png", class: 'card-img-top '%>
        </div>
        <div class="card-body">
          <h5><%= link_to spaceship.name, spaceship_path(spaceship.id) %></h5>
          <ul>
            <li><strong>Type: </strong><%= spaceship.spaceship_class %></li>
            <li><strong>Price: </strong><%= spaceship.price %></li>
            <li><strong>Rating: </strong><%= spaceship.rating %></li>
            <li><strong>Pickup station: </strong><%= spaceship.location %></li>
          </ul>
          <%= link_to "Book now!", new_spaceship_booking_path(spaceship), class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
