    <div class="col-xs-4">
      <%= simple_form_for [spaceship] do |f| %>
        <div class="container">
            <%= f.input :name %>
            <%= f.input :description %>
            <%= f.input :location %>
            <%= f.input :spaceship_class %>
            <%= f.input :speed %>
            <%= f.input :length %>
            <%= f.input :passengers %>
            <%= f.input :crew %>
            <%= f.input :manufacturer %>
            <%= f.input :price %>
            <%= f.input :photo, as: :file %>
        </div>
      </div>
        <% if spaceship.errors.any? %>
          <span style="color: red"> <%= spaceship.errors[:stars][0] %></span>
          <br>
        <% end %>
          <div class="d-flex flex-column">
            <%= f.submit %>
          </div>
            <%= link_to "Back to dashboard", dashboard_path, class: "btn btn-primary my-3"  %>
      </div>
    <% end %>

