<h1>To infinity and beyond...</h1>
<p>Book your dream spaceship for your next intergalactic adventure!</p>


<div class="spaceships m-2">
    <% @spaceships.each do |spaceship| %>
      <div class="card " style="width: 400px;">
        <div class="spaceship-image">
          <%= image_tag 'xwing.jpg', class: 'card-img-top'%>
        </div>
        <div class="card-body">
          <h5><%= spaceship.name %></h5>
          <ul>
            <li><strong>Type: </strong><%= spaceship.spaceship_class %></li>
            <li><strong>Brand: </strong><%= spaceship.manufacturer %></li>
            <li><strong>Pickup station: </strong><%= spaceship.location %></li>
            <li><strong>Description: </strong><%= spaceship.description %></li>
            <li><strong>Passenger Capcity: </strong><%= spaceship.passengers %></li>
            <li><strong>Max Speed: </strong><%= spaceship.speed %></li>
            <li><strong>Spaceship Length: </strong><%= spaceship.length %></li>
            <li><strong>Crew Onboard: </strong><%= spaceship.crew %></li>
          </ul>
          <a href="#" class="btn btn-primary">Book now!</a>
        </div>
    <% end %>
  </div>
</div>

