<h1>To infinity and beyond...</h1>
<p>Book your dream spaceship for your next intergalactic adventure!</p>


<div class="spaceships">
    <% @spaceships.each do |spaceship| %>
      <div class="spaceship">
        <div class="spaceship-image">
        </div>
        <div class="spaceship-info">
          <h3><%= spaceship.name %></h3>
          <ul>
            <li><strong>Type: </strong><%= spaceship.spaceship_class %></li>
            <li><strong>Brand: </strong><%= spaceship.manufacturer %></li>
            <li><strong>Pickup station: </strong><%= spaceship.location %></li>
            <li><strong>Description: </strong><%= spaceship.description %></li>
            <li><strong>Passenger Capcity: </strong><%= spaceship.passengers %></li>
            <li><strong>Max Speed: </strong><%= spaceship.speed %></li>
            <li><strong>Spaceship Length: </strong><%= spaceship.length %></li>
            <li><strong>Crew Onboard: </strong><%= spaceship.crew %></li>
          </ul>
        </div>
    <% end %>
  </div>
</div>
