<div class="header-show">
  <h2><%= link_to "<< Back to spaceships", spaceships_path %></h2>
</div>

<div class="show-container">
  <div class="spaceship-image">
    <%= image_tag "#{rand(16)}.png", class: 'card-img-top', id: "show-img"%>
   </div>
  <div class="spaceshipid-detail">
    <h1> <%= @spaceship.name %></h1>
      <ul>
        <li><strong>Type: </strong><%= @spaceship.spaceship_class %></li>
        <li><strong>Brand: </strong><%= @spaceship.manufacturer %></li>
        <li><strong>Price: </strong><%= @spaceship.price %></li>
        <li><strong>Rating: </strong><%= @spaceship.rating %></li>
        <li><strong>Pickup station: </strong><%= @spaceship.location %></li>
        <li><strong>Description: </strong><%= @spaceship.description %></li>
        <li><strong>Passenger Capcity: </strong><%= @spaceship.passengers %></li>
        <li><strong>Max Speed: </strong><%= @spaceship.speed %></li>
        <li><strong>Spaceship Length: </strong><%= @spaceship.length %></li>
        <li><strong>Crew Onboard: </strong><%= @spaceship.crew %></li>
      </ul>

    <%= link_to "Book now!", new_spaceship_booking_path(@spaceship), class: "btn btn-primary" %>
  </div>
    <% if policy(@spaceship).edit? %>
      <div class="edit">
        <%= link_to "Edit Spaceship", edit_spaceship_path %>
      </div>
    <% end %>
    <% if policy(@spaceship).destroy? %>
      <div class='delete'>
        <%= link_to spaceship_path(@spaceship.id), method: :delete, data: {confirm: "Are you sure?"} do %>
          <i class="far fa-trash-alt" style="font-size: 14px"></i>
        <% end %>
      </div>
    <% end %>

  <div class="reviews">
    <h1>Reviews for <%= @spaceship.name %></h1>
    <% @spaceship.reviews.each do |review| %>
      <p><%= review.content %></p>
      <div class="stars-container">
        <% i = 1 %>
        <% j = 0 %>
        <% until j == 5  %>
          <% if i <= review.stars %>
            <i class="fas fa-star"></i>
          <% else %>
            <i class="far fa-star"></i>
          <% end %>
          <% i += 1 %>
          <% j += 1 %>
        <% end %>
      </div>
      <br>
    <% end %>
  </div>


</div>
