
    <div class="card m-5">
      <div class="card__title">
        <div class="icon">
          <a href="<%= spaceships_path %>"><i class="fa fa-arrow-left"></i></a>
        </div>
      </div>
        <div class="card__body">
          <div class="half">
            <div class="featured_text">
              <h1><%= @spaceship.name %></h1>
              <p class="sub"><%= @spaceship.manufacturer %></p>
              <p class="price">$ <%=@spaceship.price%></p>
            </div>
              <div class="image">
                <%= image_tag "#{rand(16)}.png", class: 'card-img-top'%>
              </div>
          </div>
            <div class="half">
              <div class="description">
                <h4 class="droid">In-built droid : <strong><%=Faker::Movies::StarWars.droid %></strong></h4>
                <h4 class="length">Length : <strong><%=@spaceship.length %></strong></h4>
                <h4 class="speed">Speed : <strong><%=@spaceship.speed %></strong></h4>
                <h4 class="droid">Location : <strong><%=@spaceship.location %></strong></h4>
                <h4 class="droid">Class : <strong><%=@spaceship.spaceship_class %></strong></h4>
              </div>
                <span class="stock"><i class="fa fa-pen"></i> Available</span>
                  <div class="reviews">
                    <h1>Reviews for <%= @spaceship.name %></h1>
                      <% @spaceship.reviews.each do |review| %>
                      <p><%= review.content %></p>
                        <div class="stars-container">
                          <% i = 1 %>
                          <% j = 0 %>
                          <% until j == 5  %>
                            <ul class="stars">
                              <% if i <= review.stars %>
                                <li><i class="fas fa-star"></i></li>
                              <% else %>
                                <li> <i class="far fa-star"></i></li>
                              <% end %>
                              <% i += 1 %>
                              <% j += 1 %>
                              <% end %>
                          </ul>
                        </div>
                      <br>
                    <% end %>
                  </div>
                </div>
              </div>
                <div class="card__footer">
                  <div class="recommend">
                    <p>Recommended by</p>
                      <h3>Obi-Wan Kenobi</h3>
                  </div>
                    <div class="action">
                      <button type="button"><strong>Book this spaceship</strong></button>
                    </div>
                  </div>
                </div>
              </div>
   
