<div>
  <div class="row">
    <div class="col-xs-4">
      <%= simple_form_for [spaceship, review] do |f|%>
      <%= f.input :content, as: :text %>
      <%= f.input :stars, collection: (1..5).to_a, label: "Rate your spaceship" %>
      <% if review.errors.any? %>
        <span style="color: red">Stars <%= review.errors[:stars][0] %></span>
        <br>
      <% end %>
      <div class="d-flex flex-column">
        <%= f.submit "Submit your review", class: "btn btn-primary" %>
        <!--<button>Back to <%#= spaceship.name %></button> -->
        <%= link_to "Back to spaceships", spaceships_path, class: "btn btn-primary my-3" %>
      </div>
      <%#= link_to "Back to #{spaceship.name}", spaceship_path(spaceship), class: "btn btn-primary"  %>
      <% end %>
    </div>
  </div>
</div>
